#la1{
    width: 500px;
    height: 500px;
    background: purple;
    border: 2px double black;
    box-shadow: 0px -5px 30px black;
    margin: 100px;
    padding: 50px;
}
#cu1{
    width: 80px;
    height: 80px;
    background: yellow;
    position: relative;
    left: 30px;
    top: 60px;
}
#cu2{
    width: 80px;
    height: 80px;
    background: yellow;
    position: relative;
    left: 30px;
    top: 300px;
}
#cu3{
    width: 80px;
    height: 80px;
    background: yellow;
    position: relative;
    left: 400px;
    top: -100px;
}
#cu4{
    width: 80px;
    height: 80px;
    background: yellow;
    position: relative;
    left: 400px;
    top: 140px;
}
#la2{
    width: 500px;
    height: 500px;
    background: purple;
    border: 2px double black;
    box-shadow: 0px -5px 30px black;
    margin: 100px;
    padding: 50px;
}
#cir1{
    width: 100px;
    height: 120px;
    background: yellow;
    position: relative;
    left: 240px;
    top: 160px;
    border-radius: 50px 50px 0px 0px;
}
#cir2{
    width: 100px;
    height: 120px;
    background: yellow;
    position: relative;
    left: 140px;
    top: 160px;
    border-radius: 0px 0px 50px 50px;
}
#cir3{
    width: 100px;
    height: 120px;
    background: yellow;
    position: relative;
    left: 340px;
    top: 40px;
    border-radius: 0px 0px 50px 50px;
}
#la3{
    width: 500px;
    height: 1000px;
    background: purple;
    border: 2px double black;
    box-shadow: 0px -5px 30px black;
    margin: 100px;
    padding: 50px;
}
#pi1{
    width: 150px;
    height: 600px;
    background: yellow;
    position: relative;
    left: 175px;
    top: 150px;
   
}
#pi2{
    width: 150px;
    height: 300px;
    background: yellow;
    position: relative;
    left: 25px;
    top: -150px;
    
}
#pi3{
    width: 150px;
    height: 300px;
    background: yellow;
    position: relative;
    left: 320px;
    top: -450px;
    
}
#cul1{
    width: 180px;
    height: 180px;
    background: pink;
    position: relative;
    left: 160px;
    top: -1090px;
    border-radius: 100%;
}
#cul2{
    width: 180px;
    height: 180px;
    background: maroon;
    position: relative;
    left: 5px;
    top: -1000px;
    border-radius: 100px;
}
#cul3{
    width: 180px;
    height: 180px;
    background: maroon;
    position: relative;
    left: 320px;
    top: -1180px;
    border-radius: 100%;
}
#pe1{
    width: 100px;
    height: 100px;
    background: maroon;
    position: relative;
    left: 40px;
    top: 40px;
    border-radius: 100%;
}
#pe2{
    width: 100px;
    height: 100px;
    background: pink;
    position: relative;
    left: 40px;
    top: 40px;
    border-radius: 100px;
}
#pe3{
    width: 100px;
    height: 100px;
    background: pink;
    position: relative;
    left: 40px;
    top: 40px;
    border-radius: 100%;
}
#la4{
    width: 600px;
    height: 600px;
    background: cyan;
    border: 2px double black;
    box-shadow: 0px -5px 30px black;
    margin: 100px;
    padding: 50px;
}
#rec1{
    width: 400px;
    height: 200px;
    background: blue;
    position: relative;
    left: 100px;
    top: 200px;
   
}
#circu1{
    width: 300px;
    height: 300px;
    background: cyan;
    position: relative;
    left: 50px;
    top: -50px;
    border-radius: 100%;
   
}
#cirp1{
    width: 200px;
    height: 200px;
    background: blue;
    position: relative;
    left: 50px;
    top: 50px;
    border-radius: 100%;
   
}
#cirpp1{
    width: 100px;
    height: 100px;
    background: yellow;
    position: relative;
    left: 50px;
    top: 50px;
    border-radius: 100%;
   
}
#la5{
    width: 600px;
    height: 600px;
    background: blue;
    border: 2px double black;
    box-shadow: 0px -5px 30px black;
    margin: 100px;
    padding: 50px;
}
#rec2{
    width: 450px;
    height: 130px;
    background: red;
    position: relative;
    left: -50px;
    top: 520px;
  
   
}
#rec3{
    width: 130px;
    height: 570px;
    background: red;
    position: relative;
    left: 400px;
    top: -180px;
}
#cua1{
    width: 450px;
    height: 570px;
    background: white;
    position: relative;
    left: -50px;
    top: -750px;
}
#recp1{
    width: 50px;
    height: 130px;
    background: black;
    position: relative;
    left: 400px;
    top: 0px;
}
#recp2{
    width: 130px;
    height: 50px;
    background: black;
    position: relative;
    left: 0px;
    top: 520px;
}

